body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-left-style: solid;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: grey;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.centerElement {
  height: 45%;
  width: 45%;
  margin: auto;
  width: 620px;
}

#btnMenu{
    margin-top: 50px;

    
}


#main {
    transition: margin-right .5s;
    padding: 16px;
}



hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid grey;
    margin: 1em 0;
    padding: 0; 
}


ul{
    list-style-type: none;
}

.padding{
    margin-left: -33px;
}

p{
    font-size: 22px;
}

h1{
    font-size: 50px;
}

h4{
    font-size: 26px;
    color: grey;

}