body {
    font-family: "Lato", sans-serif;
        background-color:  black;
}

.pic{
    margin-left: -20px;
    padding-top: 20px;
}

.header{
    margin-left:-20px;
}

.title{
    margin-top:10px;
}

.subtitle{
    margin-top:-20px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color:  #FDB930;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-left-style: solid;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.centerElement {
  height: 45%;
  width: 45%;
  margin: auto;
  width: 780px;
  margin-top: 100px;
  z-index: 1;
}

#btnMenu{
    margin-top: 50px;
        color:  #FDB930;
}

.main{
    z-index: 1;
}
#main {
    transition: margin-right .5s;
    padding: 16px;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index:0;
}

ul {
   list-style-type: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #FDB930;
    margin: 1em 0;
    padding: 0; 
}

.image {
    position:relative;
    width: 800px;
    height: 400px;
}
.image img {
    width:100%;
    vertical-align:top;
}
.image:after, .image:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.image:after {
    content:'\A';
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
}
.image:before {
    content: attr(data-content);
    width:100%;
    height:100%;
    color: white;
    z-index:1;
    font-size:25px;
    padding-top:150px;
    padding:10 100px;
    text-align:center;
    background:rgba(0,0,0,0.6);
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.image:hover:after, .image:hover:before {
    opacity:1;
}

#upArrow{
    position: fixed;
    bottom: 75px;
    right:130px;

}

p{
    font-size: 22px;
    color: white;
}

h1{
    color:  #FDB930;
   }

h2{
    color:  #FDB930;
   }

h4{
    color:  #FDB930;
}

p a{
    color:  #FDB930;
}

p a:hover{
     color: white;
     text-decoration:none;
}